*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  padding: 133px 0;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
}

.result {
  margin-right: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 26px;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: scroll;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  object-fit: cover;
  object-position: center;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;

  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 0.5px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-title {
  line-height: 32px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  padding: 0;
  align-items: center;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox:checked + span::before {
  content: "";
  position: absolute;
  top: 3.5px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

button {
  cursor: pointer;
}

.search-form__submit-button {
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: self-end;
}

.more-button {
  display: flex;
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 2px;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__list-item:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0.5px;
}
